---
title: Home
---
<h1>{{ "Hellogfd Wogfdgrld!" | downcase }}</h1>

{% for post in site.posts %}
  <a href="{{ post.url }}">
    <div class="FeaturedImgBanner {% if post.inverse-img %}FeaturedImgBanner--inverse{% endif %}" {% if post.cover_image %} style="background-image: url('{{ post.cover_image }}');" {% endif %}>
      <div class="TitleBanner">
        <div id="bannerContent">
          <h1>{{ post.title }}</h1>
          {{ post.excerpt | truncate: 270 }}
        </div>
      </div>
    </div>
  </a>
{% endfor %}
