---
title: Alex Petrache • alexand.ro
image: /assets/images/alexandro_alex_petrache.jpg
---
<script src="https://apis.google.com/js/platform.js"></script>

<div id="intro" class="row justify-content-center align-items-center">
    <div class="col-md-12">
        <div class="row h-100 justify-content-center align-items-center">
            <img id="avatar" alt="Alex Petrache" title="Alex Petrache" src="{{page.image}}"/>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <span id="name">Alex Petrache</span>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <span id="description">
              Pursuing the world of startups. Creating videos @<a href="/jurnalul-unui-olimpic">Jurnalul Unui Olimpic</a>. Ex-Software Engineer @Amazon.
            </span>
        </div>
        <div class="row h-100 justify-content-center align-items-center">
            <div class="item">
                <div class="g-ytsubscribe" data-channelid="UCQQwkvM9vQ6AEl1CfnEtdrQ" data-layout="default" data-count="default"></div>
            </div>
        </div>
    </div>
</div>

{% for post in site.posts %}
  <a href="{{ post.url }}">
    <div class="FeaturedImgBanner {% if post.inverse-img %}FeaturedImgBanner--inverse{% endif %}" {% if post.image %} style="background-image: url('{{ post.image }}');" {% endif %}>
      <div class="TitleBanner">
        <div id="bannerContent">
          <h1>{{ post.title }}</h1>
          <div class="date">{{ post.date | date: "%B %d • %Y" }}</div>
          {{ post.excerpt | strip_html | truncate: 270 }}
        </div>
      </div>
    </div>
  </a>
{% endfor %}
