<!-- Default Statcounter code for alexand.ro
http://alexand.ro -->
<script type="text/javascript">
var sc_project=12174841; 
var sc_invisible=1; 
var sc_security="616df27e"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/12174841/0/616df27e/1/"
alt="Web Analytics"></a></div></noscript>
<!-- End of Statcounter Code -->
