<div id="footer">
    <div class="social-btns">
        <a class="btn email" href="mailto:hello@alexand.ro"><i class="fa fa-envelope"></i></a>
        <a class="btn youtube" href="https://youtube.com/channel/UCQQwkvM9vQ6AEl1CfnEtdrQ"><i class="fa fa-youtube"></i></a>
        <a class="btn facebook" href="https://www.facebook.com/alexand.ro.writings/"><i class="fa fa-facebook"></i></a>
        <a class="btn instagram" href="https://instagram.com/alexand.ro/"><i class="fa fa-instagram"></i></a>
        <a class="btn twitter" href="https://twitter.com/AlexIPetrache"><i class="fa fa-twitter"></i></a>
        <a class="btn linkedin" href="https://www.linkedin.com/in/alexpetrache/"><i class="fa fa-linkedin"></i></a>
        <a class="btn github" href="https://github.com/AlexPetrache"><i class="fa fa-github"></i></a>
    </div>
    <a class="copyright" href="/">© 2019 alexand.ro</a>
</div>

<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
<script type='text/javascript' src='/assets/js/myscripts.js'></script>