body {
    margin:0;
}

.current {
    color: green;
}

.post-cover {
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    overflow: visible;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -moz-box-shadow: 0px 0px 6px 3px #ccc;
    -webkit-box-shadow: 0px 0px 6px 3px #ccc;
    box-shadow: 0px 0px 6px 3px #ccc;
}

@media all and (max-width: 667px) {
    .post-cover-mobile {
        max-height: 400px;
    }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .post-cover {
        background-attachment: scroll;
    }
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .post-cover {
        background-attachment: scroll;
    }
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .post-cover {
        background-attachment: scroll;
    }
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .post-cover {
        background-attachment: scroll;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .post-cover {
        background-attachment: scroll;
    }
}

article {
    max-width: 700px !important;
    font-family: Georgia, serif;
}

.icon-scroll {
	width: 20px;
	height: 35px;
	margin-left: -7px;
	position: absolute;
	bottom: 70px;
	box-shadow: inset 0 0 0 3px #fff;
	border-radius: 25px;
	z-index: 99;
	left: 50%;
	cursor: pointer;
}

.icon-scroll::before {
	content: '';
	width: 4px;
	height: 4px;
	background: #fff;
	margin-left: -2px;
	top: 4px;
	border-radius: 4px;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: scroll;
	animation-name: scroll;
	position: absolute;
	left: 50%;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}


article .title {
    padding-top:40px;
    text-align: center;
    letter-spacing: normal;
}

article .date {
    color: #90949c;;
    padding-bottom:40px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

article .content {
    text-align: justify;
    font-size: 17px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
}

blockquote {
    color: #7f7f7f;
    font-family: 'Hoefler Text', Georgia, serif;
    font-size: 36px;
    font-style: italic;
    line-height: 42px;
    margin: 56px auto !important;
    padding: 32px 80px 28px;
    position: relative;
    text-align: center;
}

blockquote::before {
    border-bottom: 1px solid #b2b2b2;
    box-sizing: border-box;
    content: '';
    height: 1px;
    left: 302px;
    position: absolute;
    right: 302px;
    top: 0;
}

blockquote::after {
    border-bottom: 1px solid #b2b2b2;
    box-sizing: border-box;
    content: '';
    height: 1px;
    left: 302px;
    position: absolute;
    right: 302px;
    top: 100%;
}

@media only screen and (max-width: 600px) {
    blockquote {
        font-size: 30px;
        padding: 10px;
    }
    blockquote::before {
        left: 140px;
        right: 140px;
    }
    blockquote::after {
        left: 140px;
        right: 140px;
    }
}

.page-navigation {
    margin-top: 50px;
    margin-bottom: 20px;
    overflow: auto;
}

.page-navigation .prev {
    float: left;
    width: 50%;
    text-align: left;
}

.page-navigation .next {
    float: right;
    width: 50%;
    text-align: right;
}

.FeaturedImgBanner {
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 4px 2px #ccc;
}

.TitleBanner {
    color: white; // White text...
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); // ...against a dark background
    transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow .3s ease-in-out;
    -webkit-transition: box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
    text-align: center;
    padding: 10px;
    height: 350px;
    position: relative;
    font-family: Georgia, serif;
    overflow: hidden;
}

.TitleBanner:hover {
    box-shadow: none;
}

.TitleBanner:hover > #bannerContent {
    opacity: 0.5;
}

.TitleBanner--inverse {
    color: black; // Here we have dark text
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.75); // ...against a light background
}

#bannerContent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-20%, -50%);
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
}

#bannerContent .date {
    color: #90949c;;
    padding-bottom:20px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

@media only screen and (max-width: 600px) {
    #bannerContent {
        left: 10%;
        transform: translate(-5%, -50%);
        font-size: 14px;
    }

    #bannerContent h1 {
        font-size: 2em;
    }
}

#intro{
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 6px 3px #ccc;
    margin: 0;
    margin-bottom: 20px;
}

#intro a{
    font-weight: bold;
}

#intro #name {
    font-weight: bold;
    font-size: 30px;
}

#intro #description {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 530px;
    text-align: center;
    width: 70%;
}

@media all and (max-width: 375px) {
    #intro #description {
        width: 80%;
    }
}

@media all and (max-width: 320px) {
    #intro #description {
        width: 100%;
    }
}

.flex-container {
    -webkit-column-count:3;
    -webkit-column-gap:0;
    max-width: 430px;
    margin: 0 auto;
}
.flex-container .item {
    text-align: center;
}

.flex-container .third {
    padding-top: 12px;
}

/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    .flex-container {
        -webkit-column-count:1;
    }
    .item {
        padding-bottom: 10px;
    }
    .flex-container .first {
        padding-bottom: 0px;
    }
    .flex-container .third {
        padding-top: 0px;
    }
}

@media all and (max-width: 360px) {
    .flex-container {
        -webkit-column-count:1;
    }
}

//footer
#footer {
    position: relative;
    box-shadow: 0px 0px 6px 3px #ccc;
    padding: 50px;
    user-select: none;
    text-align: center;
}
#footer .copyright {
    color: #90949c;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    display: block;
}
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.social-btns .btn:before {
  top: 90%;
  left: -110%;
}
.social-btns .btn .fa {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.social-btns .btn.email:before {
    background-color: blue;
}
.social-btns .btn.facebook:before {
  background-color: #3b5998;
}
.social-btns .btn.twitter:before {
  background-color: #3cf;
}
.social-btns .btn.youtube:before {
  background-color: #dc4a38;
}
.social-btns .btn.instagram:before {
  background-color: #C13584;
}
.social-btns .btn.linkedin:before {
  background-color: #00aff0;
}
.social-btns .btn.github:before {
  background-color: #000;
}
.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
  top: -10%;
  left: -10%;
}
.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa {
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.social-btns {
  height: 50px;
  margin: auto;
  font-size: 0;
  text-align: center;
  display: inline-table;
}
.social-btns .btn {
    display: inline-block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 35px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    opacity: 0.99;
    padding: 0;
    color: #90949c;
}
.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.social-btns .btn .fa {
    font-size: 20px;
    vertical-align: middle;
}