body {
    margin:0;
}

.current {
    color: green;
}

.post-cover {
    width: 100%;
    height: 100vh;
    max-height: 1080px;
    position: relative;
    margin: 0 auto;
    padding: 0;
    overflow: visible;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    -moz-box-shadow: 0px 0px 6px 3px #ccc;
    -webkit-box-shadow: 0px 0px 6px 3px #ccc;
    box-shadow: 0px 0px 6px 3px #ccc;
}

article {
    max-width: 700px !important;
    font-family: Georgia, serif;
}

.icon-scroll {
	width: 20px;
	height: 35px;
	margin-left: -7px;
	position: absolute;
	bottom: 70px;
	box-shadow: inset 0 0 0 3px #fff;
	border-radius: 25px;
	z-index: 99;
	left: 50%;
	cursor: pointer;
}

.icon-scroll::before {
	content: '';
	width: 4px;
	height: 4px;
	background: #fff;
	margin-left: -2px;
	top: 4px;
	border-radius: 4px;
	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-name: scroll;
	animation-name: scroll;
	position: absolute;
	left: 50%;
}

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(23px);
        transform: translateY(23px);
    }
}


article .title {
    padding-top:40px;
    text-align: center;
    letter-spacing: normal;
}

article .date {
    color: #90949c;;
    padding-bottom:40px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

article .content {
    text-align: justify;
    font-size: 17px;
    line-height: 28px;
    -webkit-font-smoothing: antialiased;
}


blockquote {
    color: #7f7f7f;
    font-family: 'Hoefler Text', Georgia, serif;
    font-size: 36px;
    font-style: italic;
    line-height: 42px;
    margin: 56px auto !important;
    padding: 32px 80px 28px;
    position: relative;
    text-align: center;
}

blockquote::before {
    border-bottom: 1px solid #b2b2b2;
    box-sizing: border-box;
    content: '';
    height: 1px;
    left: 302px;
    position: absolute;
    right: 302px;
    top: 0;
}

blockquote::after {
    border-bottom: 1px solid #b2b2b2;
    box-sizing: border-box;
    content: '';
    height: 1px;
    left: 302px;
    position: absolute;
    right: 302px;
    top: 100%;
}

.FeaturedImgBanner {
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    display: block;
}

.TitleBanner {
    color: white; // White text...
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5); // ...against a dark background
    transition: box-shadow 0.3s ease-in-out;
    -moz-transition: box-shadow .3s ease-in-out;
    -webkit-transition: box-shadow .3s ease-in-out;
    -o-transition: box-shadow .3s ease-in-out;
    text-align: center;
    padding: 10px;
    height: 350px;
    position: relative;
    font-family: Georgia, serif;
}

.TitleBanner:hover {
    box-shadow: none;
}

.TitleBanner:hover > #bannerContent {
    opacity: 0.5;
}

.TitleBanner--inverse {
    color: black; // Here we have dark text
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.75); // ...against a light background
}

#bannerContent {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 30%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-20%, -50%);
    -webkit-font-smoothing: antialiased;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
}

#bannerContent .date {
    color: #90949c;;
    padding-bottom:20px;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}

#intro{
    margin-top: 50px;
    padding-bottom: 50px;
}

#intro a{
    font-weight: bold;
}

#intro #name {
    font-weight: bold;
    font-size: 30px;
}

#intro #description {
    margin-top: 10px;
    margin-bottom: 10px;
}